<h3>Welcome to our signup page</h3>

<%= form_for @user do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %> </p>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <%= f.submit %>
<% end %>
